<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/humanity/jquery-ui.css" type="text/css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="@{'/public/css/960/reset.css'}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="@{'/public/css/960/text.css'}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="@{'/public/css/960/960.css'}" type="text/css" media="screen, projection">
<link href="@{'/public/css/default.css'}" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="@{'/public/images/favicon.gif'}">
#{get 'styles' /}
#{analytics /}
</head>

<body>

<div id="header">
<div id="toplinks">
<span class="username">${user.nickname}</span>|
#{if lang == "en"}
<span><a href="@{Application.lang("ja")}">ja</a></span>|
#{/if}
#{else}
<span><a href="@{Application.lang("en")}">en</a></span>|
#{/else}
#{if admin}
<span class="admin"><a href="@{Admin.index()}">&{'admin'}</a></span>|
#{/}
<span><a href="@{Auth.logout()}">&{'logout'}</a></span>
</div>
</div>

<div id="content" class="container_12">

<div id="application-menu" class="grid_2 ">
<h1>Omeza</h1>
<div class="items">
<a class="menu-item" href="@{Application.index}">&{'currentPeriod'}</a>
<!-- a class="menu-item" href="/compare">&{'compare'}</a -->
<a class="menu-item" href="@{Application.archive}">&{'archive'}</a>
<a class="menu-item">&{'print'}</a>
</div>
</div>

<div id="" class="grid_10 ">
#{doLayout /}
</div>

</div>

<div id="footer" class="container_12">
©Omeza.org
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
<script src="@{Application.i18n()}"></script>
#{get 'scripts' /}

</body>
</html>