<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<link href="/public/css/default.css" type="text/css" rel="stylesheet" />
#{get 'styles' /}
#{get 'scripts' /}
</head>

<body>

<div id="menu-bar" style="float: left;">
#{if user}
<div style="padding:5px; color: #f93; font-weight: bold;">&{'welcome', user.nickname}</div>
#{/}
<a class="menu-item" href="@{Application.index}">&{'currentPeriod'}</a>
<a class="menu-item" href="/compare">&{'compare'}</a>
<a class="menu-item" href="@{Application.archive}">&{'archive'}</a>
<a class="menu-item">&{'print'}</a>
<br>
<div style="text-align: right;" ><font size=2><a href="@{Application.logout()}">&{'logout'}</a></font></div>
</div>

<div id="main-content">
#{doLayout /}
</div>

</body>
</html>