  a{ text-decoration: none;}

  body {
    padding-top: 10px;
  }

  #menu-bar {
    font-size: 0.8em;
    background: #ffc;
    border: solid 2px #cc9933;
    padding: 10px;
    font-family: Verdana, sans-serif; 
    width: 130px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }

.menu-item {
  display: block;
  width: 100%;
  margin: 0;
  background:#ffc;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-family: Verdana, sans-serif;
  padding: 5px;
}

.menu-item:hover {
  background: #ffcc99;
}

  .current {
    background:#fc9;
    border-bottom: 2px solid #fff;
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 5px;
  }


  #main-content {
    margin-left: 160px;
  }

  /* The whole header */
  table.bbthead {
    border: 2px #c93 solid; border-bottom: 3px #c93;
    border-collapse: collapse;background-color: #fc9;  font-family: Verdana, sans-serif;
  }

  /* header th */
  table.bbthead th{ border-style: solid dashed;  border-width: 1px; border-color: #c93; padding: 0.3em; font-size:80%;}

  /* sheet (scrollable part) */
  table.bbtcycle{border: 2px #c93 solid; border-collapse: collapse; font-family: Verdana,sans-serif;}

  /* cells */
  table.bbtcycle td{ border-style:/*横ー縦*/ solid dashed; border-color: #c93; border-width: 1px; padding: 0.3em; font-size: 80%;}

  /* date cells */
  table.bbtcycle td.date{ background-color: #ffc; font-weight: bold; font-size: 80%;}

  /* date cell for today */
  table.bbtcycle tr.date-today { background-color: #fdd; }
  table.bbtcycle tr.date-today td.date{ background-color: #fdd; }

  /* cells that should be centered */
  table.bbtcycle td.centerlize{ text-align: center;}

