#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'styles'}
<style type="text/css">
table.list{
    background: #ffc;
    border: solid 2px #c93;
    border-collapse: collapse;
    padding: 10px;
    font-family: Verdana, sans-serif;
    }
table.list th,
table.list td {
    border: 1px solid #c93;
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 10px;
}
table.list thead th{
    background: #fc9;
    border-bottom: 2px solid #c93;
}
#long-graph,  #long-chart {
    background: #ffc;
    border: solid 2px #c93;
    padding: 10px;
    font-family: Verdana, sans-serif;
    width: 450px;
    }
</style>
#{/}

%{ m = play.i18n.Messages.&get }%
<br/>

<!-- a style="display: block !important" onclick="javascript:toggle('year<%= year %>');">▼<%= year %></a -->
  <!-- div id="year<%= year %>" -->

<script>
function confirmDelete(periodId) {
    if (confirm("Really delete?")) {
        $.post("@{Periods.delete()}",
            {periodId: periodId},
            function() {
                $("#periodTR" + periodId).fadeOut();
            }
        );
    }
}
</script>

#{list periods, as:'year'}
<div>
    ${year.year}
</div>
<table id="tbl-<%= year %>" class="list" cellspacing="0">
    <thead>
    <tr>
        <th>&{'archive.start'}</th>
        <th>&{'archive.end'}</th>
        <th>&{'archive.length'}</th>
        <th>&{'archive.delete'}</th>
    </tr>
    </thead>
    <tbody>
    #{list year.periods, as:'period'}
      <tr id="periodTR${period.id}">
        <td><a href="@{Application.period(period.id)}">${period.start.format(m('dateformat'))}</a></td>
        <td>${period.end().format(m('dateformat'))}</td>
        <td>${period.length()}</td>
        <td><button onclick="confirmDelete(${period.id})">Delete</button></td>
      </tr>
      <tr id="period-other">
      </tr>
    #{/}
    <tbody>
</table>

<a href="@{Application.longGraph(year.first().start, year.last().end())}">Long graph</a>
<a href="@{Application.longData(year.first().start, year.last().end())}">Long data</a>

<br/>

#{/}

