#{extends 'main.html' /}
#{set title:'Omeza - Home' /}


%{ m = play.i18n.Messages.&get }%

#{set 'styles'}
#{/}

<div id="graph" hidden="false">
<div id="graphHide" class="open">show/hide graph</div>
<div id="chart" class="chart" style="width: 780px; height: 270px; "></div>
</div>

#{form @Periods.create(), id: "newPeriod"}
&{'newPeriod'}<input name="start" id="date-field" value="${new Date().format("yyyy'-'MM'-'dd")}">
<input type="submit" value="Start">
#{/form}

#{if period}
<div style="margin:0px">
<table class="bbtcycle" cellpacing="0">
<thead>
<tr>
<th width="100px">&{'date'}</th>
<th width="35px">&{'dayno'}</th>
<th width="55px">&{'temperature'}</th>
<th width="35px">&{'sex'}</th>
<th width="35px">&{'special'}</th>
<th width="300px">&{'memo'}</th>
<th width="35px">&{'mucus'}</th>
<th width="35px">&{'blood'}</th></tr>
</thead>

{% c = 1 %}

#{list period.days(), as:'day'}
<tr #{if (day.today())}class="today"#{/} >

<td class="date" width="100px">
${day.date.format(m('dateformat'))}
</td>
<td class="date centerlize" width="35px" >${c}{% c++ %}</td>
<td width="55px">
    <div id="temperature-${day.id}" class="inplace">${day.temperature ? day.temperature / 10 : ""}</div>
</td>
<td class="centerlize" width="35px">
    <div id="sex-${day.id}" class="inplace">${day.sex}</div>
</td>
<td class="centerlize" width="35px">
    <div id="special-${day.id}" class="inplace">${day.special}</div>
</td>
<!--MEMO--><td width="360px">
    <div id="memo-${day.id}" class="inplace">${day.memo}</div>
</td>
<!--粘液--><td class="centerlize"  width="35px">
    <div id="mucus-${day.id}" class="inplace">${day.mucus}</div>
</td>
<!--血量--><td class="centerlize" width="35px">
    <div id="blood-${day.id}" class="inplace">${day.blood}</div>
</td>
</tr>
<!-- ...end for each day -->
#{/list}
</table></div>

#{/if}
#{else}
<div class="bigmessage">No period! Create one to get started.</div>
#{/else}

#{set 'scripts'}
<!--[if IE]><script language="javascript" type="text/javascript" src="/public/js/flot/excanvas.pack.js"></script><![endif]-->
<script src="/public/js/flot/jquery.flot.min.js"></script>
<script src="/public/js/periods.js"></script>
<script src="/public/js/jquery.jeditable.mini.js"></script>
<script>
var editURL = "@{Periods.edit()}";
var jsonURL = #{if period}"@{Periods.json(period.id)}"#{/}#{else}null#{/};

$(function(){
    Periods.init();
});
</script>
#{/}
