#{extends 'main.html' /}
#{set title:'Omeza - Home' /}

%{ m = play.i18n.Messages.&get }%

#{set 'styles'}
#{/}

<div id="graph">
<div id="graphHide" class="open">show/hide graph</div>
<div id="chart" class="chart" style="width: 780px; height: 270px; "></div>
</div>

#{form @Periods.create(), id: "newPeriod"}
&{'newPeriod'}<input name="start" id="date-field" value="${new Date().format("yyyy'-'MM'-'dd")}">
<input type="submit" value="Start">
#{/form}


#{if period}
<div style="margin:0px">
<table class="bbtcycle" cellpacing="0">
<thead>
<tr>
<th width="100px">&{'date'}</th>
<th width="35px">&{'dayno'}</th>
<th width="55px">&{'temperature'}</th>
<th width="35px">&{'sex'}</th>
<th width="35px">&{'special'}</th>
<th width="300px">&{'memo'}</th>
<th width="35px">&{'mucus'}</th>
<th width="35px">&{'blood'}</th></tr>
</thead>
<tbody id="periodtable">
</tbody>
</table>
</div>

#{/if}
#{else}
<div class="bigmessage">No period! Create one to get started.</div>
#{/else}

<script type="text/template" id="day-template">
<td class="date" width="100px"><%= date %></td>
<td class="date centerlize" width="35px" ><%= idx %></td>
<td class="editable" data-field="temperature" width="55px"><%= temperature == 0 ? "" : temperature %></td>
<td class="editable centerlize" data-field="sex" width="35px"><%= sex %></td>
<td class="editable centerlize" data-field="special" width="35px"><%= special %></td>
<td class="editable" width="360px" data-field="memo"><%= memo %></td>
<td class="editable centerlize" data-field="mucus" width="35px"><%= mucus == 0 ? "" : mucus %></td>
<td class="editable centerlize" data-field="blood" width="35px"><%= blood == 0 ? "" : blood %></td>
</script>

#{set 'scripts'}
<!--[if IE]><script language="javascript" type="text/javascript" src="/public/js/flot/excanvas.pack.js"></script><![endif]-->
<script src="@{'/public/js/flot/jquery.flot.min.js'}"></script>
<script>
var editURL = "@{Periods.edit()}";
var jsonURL = #{if period}"@{Periods.json(period.id)}"#{/}#{else}null#{/};
</script>
<script src="@{'/public/js/periods.js'}"></script>
<script src="@{'/public/js/graph.js'}"></script>
#{/}
