#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'scripts'}
#{if play.Play.mode.isDev()}
<script src="/public/js/goog/base.js"></script>
<script src="/public/js/periods.js"></script>
#{/}
#{else}
<script src="/public/js/periods-min.js"></script>
#{/}
#{/}

#{set 'styles'}
<link href="/public/css/datepicker.css" type="text/css" rel="stylesheet" />
#{/}

<div id="graph" hidden="false">
<div id="chart" class="chart" style="width: 700px; height: 300px; border: solid 1px black;">CHART</div>
</div>

<form id="newPeriod" action="@{Application.newPeriod()}">
New period from: <input name="start" id="date-field"> <input type="submit" value="Start">
</form>

#{if period}
<div style="margin:0px">
<table class="bbtcycle" cellpacing="0">
<thead>
<tr>
<th width="100px">日付(曜日)</th>
<th width="35px">日数</th>
<th width="55px">体温</th>
<th width="35px">sex</th>
<th width="35px">注目</th>
<th width="300px">MEMO</th>
<th width="35px">粘液</th>
<th width="35px">血量</th></tr>
</thead>

{% c = 1 %}
#{list period.days(), as:'day'}
<tr #{if day.date == today}class="today"#{/} >
<!--日付-->
<td class="date" width="100px">
${day.date.format("yyyy'/'MM'/'dd")}
</td>
<!--日数--><td class="date centerlize" width="35px" >${c}{% c++ %}</td>
<!--体温--><td width="55px">
      <!-- %= in_place_editor_field :day, 'temperature', {}, :rows => 1 % -->
</td>
<!--sex--><td class="centerlize" width="35px">
      <!-- %= in_place_editor_field :day, 'sex', {}, :rows => 1 % -->
</td>
<!--注目--><td class="centerlize" width="35px">
      <!-- %= in_place_editor_field :day, 'special', {}, :rows => 1 % -->
</td>
<!--MEMO--><td width="300px">
      <!-- %= in_place_editor_field :day, 'memo', {}, :rows => 1 % -->
</td>
<!--粘液--><td class="centerlize"  width="35px">
      <!-- %= in_place_editor_field :day, 'mucus', {}, :rows => 1 % -->
</td>
<!--血量--><td class="centerlize" width="35px">
      <!-- %= in_place_editor_field :day, 'blood', {}, :rows => 1 % -->
</td>
</tr>
<!-- ...end for each day -->
#{/list}
</table></div>

#{/if}
#{else}
<div class="bigmessage">No period! Create one to get started.</div>
#{/else}

<script>
omeza.periods.init();
</script>
